$fontfam: Roboto, Arial, sans-serif;

html {
  box-sizing: border-box;
  font: {
    family: $fontfam;
    size: 16px;
    weight: 300;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.4;
}

/* Inline our ul for our menu */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li { display: inline; margin: 0 .5rem; }
